 body {
    margin: 0;
    padding: 3%;
    font-family: 'Skia', 'Open Sans', sans-serif;
    background-color: #1E2148;
    color: white;
}

.page {
    margin: 0 auto;
    max-width: 2000px;
    width: 95%;
}

#vis_container{
    margin: 0 auto;
}

.single_vis{
    margin-bottom: 10px;
    height: 1800px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#bubbles{
    width: 1800px;
    height: 1800px;
}

#streams{
    width: 1800px;
    height: 1800px;
}

.text{
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
    font-weight: bold;
    font-size: 20px;
    padding-left: 2px;
    padding-right: 2px;
}

.text p{
    font-weight: normal;
    font-size: 14px;
    text-align: justify;
    color: white;
}

.chart{
    position: relative;
    float: left;
    height: 100%;
    width: 70%;
}