 body {
    margin: 0;
    padding: 3%;
    font-family: 'Skia', 'Open Sans', sans-serif;
    background-color: #1E2148;
    color: white;
}

.page {
    margin: 0 auto;
    max-width: 1200px;
    width: 95%;
}

#vis_container{
    margin: 0 auto;
}

.single_vis{
    margin-bottom: 10px;
    height: 1000px;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

#bubbles{
    width: 960px;
    height: 960px;
}

#streams{
    width: 960px;
    height: 960px;
}

.text{
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
    font-weight: bold;
    font-size: 20px;
    padding-left: 2px;
    padding-right: 2px;
}

.text p{
    font-weight: normal;
    font-size: 14px;
    text-align: justify;
    color: white;
}

.chart{
    position: relative;
    float: left;
    height: 100%;
    width: 70%;
}

.node {
    cursor: pointer;
}

.node:hover {
    stroke: #7E81AD;
    stroke-width: 2px;
}

.node--leaf {
    fill: white;
}

.label {
    font: 12px "Skia", sans-serif;
    text-anchor: middle;
    font-weight: bold;
}

.legend1 {
    font: 12px "Skia", sans-serif;
    text-anchor: start;
    font-weight: bold;
}

.legend2 {
    font: 12px "Skia", sans-serif;
    text-anchor: end;
    font-weight: bold;
}

.label,
.node--root,
.node--leaf {
    pointer-events: none;
}